<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Incidente</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Formulario de Soporte</h1>
    <form method="post" enctype="multipart/form-data">
        <label>Nombre:</label><input type="text" name="nombre" required><br>
        <label>Correo:</label><input type="email" name="correo" required><br>
        <label>Teléfono:</label><input type="text" name="telefono" required><br>
        <label>Empresa:</label>
        <select name="empresa" required>
            {% for empresa in empresas %}
                <option value="{{ empresa }}">{{ empresa }}</option>
            {% endfor %}
        </select><br>
        <label>Tipo de Caso:</label>
        <select name="tipo_problema" required>
            {% for tipo in tipos_problema %}
                <option value="{{ tipo }}">{{ tipo }}</option>
            {% endfor %}
        </select><br>
        <label>Descripción:</label><textarea name="descripcion" required></textarea><br>
        <label>Archivo Adjunto:</label><input type="file" name="archivo"><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
